services:

  # MySQL
  mysql:
    image: mysql:8.0
    container_name: iiq-mysql
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=root
    cap_add:
      - SYS_NICE  # CAP_SYS_NICE
    networks:
      - custom-network
    volumes:
      - iiq-db:/var/lib/mysql

  # Tomcat + IIQ
  tomcat:
    build:
      context: .
      args:
        IIQ_VERSION: ${IIQ_VERSION}
        IIQ_PATCH: ${IIQ_PATCH}
        IIQ_CUSTOM_WAR: ${IIQ_CUSTOM_WAR}
      dockerfile: ./docker/tomcat/Dockerfile
    container_name: iiq-tomcat
    depends_on:
      - mysql
    ports:
      - "8080:8080"
    networks:
      - custom-network
    volumes:
      - iiq-tomcat:/usr/local/tomcat
  
  # OpenLDAP
  openldap:
    image: osixia/openldap:1.5.0
    container_name: iiq-openldap
    ports:
      - "389:389"
      - "636:636"
    environment:
      - LDAP_ORGANISATION=My Company
      - LDAP_DOMAIN=my-company.com
      - LDAP_ADMIN_PASSWORD=root
    volumes:
      - ./openldap:/container/service/slapd/assets/config/bootstrap/ldif/custom
      - iiq-openldap:/var/lib/ldap
      - iiq-openldapconfig:/etc/ldap/slapd.d
    command: --copy-service
    networks:
      - custom-network

  # LDAP Administration
  ldapadmin:
    image: osixia/phpldapadmin:0.9.0
    container_name: iiq-ldapadmin
    ports:
      - "6443:443"
    depends_on:
      - openldap
    environment:
      - PHPLDAPADMIN_LDAP_HOSTS=iiq-openldap
    networks:
      - custom-network
    volumes:
      - iiq-ldapadmin:/var/www/phpldapadmin
  
  # MySQL Administration
  mysqladmin:
    image: phpmyadmin:5.1.1
    container_name: iiq-mysqladmin
    ports:
      - "8070:80"
    environment:
      - PMA_HOST=iiq-mysql
    depends_on:
      - mysql
    networks:
      - custom-network
  
  # SMTP Server
  mailslurper:
    image: marcopas/docker-mailslurper
    container_name: iiq-mailslurper
    ports:
      - "25:25"
      - "8090:8090"
      - "8085:8085"
    volumes:
      - ./mailslurper/config.json:/opt/mailslurper/config.json
    networks:
      - custom-network

volumes:
  iiq-db:
    driver: local
  iiq-tomcat:
    driver: local
  iiq-openldap:
    driver: local
  iiq-openldapconfig:
    driver: local
  iiq-ldapadmin:
    driver: local

networks:
  custom-network:
      driver: bridge
